/* HEADER */
.header{
    background: linear-gradient(90deg, $bColor1Cabecera 0%, $bColor2Cabecera 100%);
    .container-fluid{
        align-items: center;
        margin: 0;
        padding: 0;
        h1{
            font-size: 35px;
            font-weight: bold;
            text-shadow: $shadowSetup;
            font-family: $fuenteCabeceras;
             margin: 0;
        }
        img{
            height: 88px;
        }
    }
}
/* FIN HEADER */