/* NAVBAR */
.bgnav{
    background-color: $bColorNavBar;
    .nav-link{
        color: $bColorLink !important;
        &:hover {
            background-color: $botonColorHover;
        }
    }
}
/* FIN NAVBAR */