/* NAVBAR */
.bgnav{
    background-color: $bColorNavBar;
    padding: 2px;
    padding-left: 16px;
    .nav-link{
        color: $bColorLink !important;
        &:hover {
            background-color: $botonColorHover;
        }
    }
}
/* FIN NAVBAR */