/* VARIABLES GENERALES */
/* Fuentes */
$fuenteGeneral: 'Baloo 2', cursive;
$fuenteCabeceras : 'Kaushan Script', cursive;

/* Colores */
/* Background Colors */
$bColor1Cabecera : #f8b408b0;
$bColor2Cabecera : #7dae36;
$bColor1Fotter: #434343; 
$bColor2Footer: #006e77;
$bColorNavBar: #434343;
$bColorLink: #ffffff;
/* Titulos Colors */
$h2Color: #ff0000;
$h34Color: #000000;
$shadowSetup: 1px 1px #ffffff;

/* FIN VARIABLES GENERALES */

/* Reseteo CSS */
*{
    font-family: $fuenteGeneral;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    color: $h2Color;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-shadow: $shadowSetup;
    font-family: $fuenteCabeceras;
    text-align: center;
}

h3, h4{
    color: $h34Color;
    padding: 10px;
    text-shadow: $shadowSetup;
    font-family: $fuenteCabeceras;
}

@import "../css/header";
@import "../css/navBar";

/* MAIN */
.principal{
    background-image: url(../images/Praias/white-g1dc2efb8f_1920.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    .articulo{
        text-align: center;
        img{
            width: 90%;
            border-radius: 20px;
            border: 2px solid rgb(87, 85, 85);
        }
        p{
            font-style: italic;
            text-align: justify;
            padding: 10px 60px;
        }
        video{
            width: 90%;
            height: auto;
            border-radius: 20px;
            margin-bottom: 20px;
        }
    }
}
/* FIN MAIN */

/* MAIN QUARTOS/SERVICIOS */
.quartos{
    margin-top: 40px;
    .carta{
        margin-top: 30px;;
        .card-img-top{
            border-radius: 30px;
            opacity: 0.9;
        }
        ul{
            list-style-type: none;
            font-style: italic !important;
            padding-inline-start: 10px;
        }
    }
}
.servicios ul{
    list-style-type: none;
    list-style-image: url("../images/icons8-ok-16.png");
    text-align: left;
    padding-left: 40px;
    padding-bottom: 40px;
}
/* FIN QUARTOS/SERVICIOS */

/* GALERIA */
.jumbotron h2{
    font-size: 50px;
}

.jumboQuartos{
    background-image: url(../images/Jumbotron/Quartos.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    min-height: 500px;
    padding-top: 200px;
}

.jumboGaleria{
    background-image: url(../images/Jumbotron/Galeria.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    min-height: 500px;
    padding-top: 200px;
}

.carousel{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    .carousel-item{
        object-fit: cover;
        img{
            width: 100%;
            height: 400%;
            border-radius: 30px;
        }
    }
}
/* FIN GALERIA */

/* PLAYAS Y ACTIVIDADES */
.playas .card{
    margin-bottom: 10px;
    border-radius: 15px;
    .card-img-top{
        border-radius: 0;
        opacity: 0.9;
    }
}
.actividades{
    text-align: center;
    iframe{
        width: 90%;
        height: 500px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}

/* LOCALIZACION */
.mapa{
    height: auto;
    text-align: center;
    iframe{
        width: 95%;
        height: 400px;
        margin-bottom: 20px;
    }
}

/* Animacion de texto "Como llegar" - Tipo cartel titilante*/
.llegar{
    .comoLlegar{
        animation-name: titilar;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    ul{
        list-style-type: none;
        list-style-image: url("../images/icons8-where-48.png");
        text-align: left;
        padding-left: 70px;
        padding-bottom: 40px;
        a{
            text-decoration: none;
            color:rgb(55, 55, 55);
        }
    }
}
@keyframes titilar{
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
/* FIN LOCALIZACION */

/* CONTACTO */
.contacto{ 
    .mail p{
        padding-left: 10px;
    }
    form{
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
    }
}
/* FIN CONTACTO */

/* FOOTER */ 
/* Gradiente en footer */
.footer{
    background: linear-gradient(90deg, $bColor1Fotter 0%, $bColor2Footer 100%);
    color: white;
    font-size: 14px;
    padding: 5px;
    .ubicacion{
        display: flex;
        align-items: center;
        p{
            margin-left: 10px;
            margin-top: 2.5px;
            margin-bottom: 0;
        }
    }
    .redes{
        text-align: center;
        i{
            letter-spacing: 10px;
            font-size: 20px;
        }       
        a{
            text-decoration: none;
            color: $bColorLink;
        }
    }  
    p{
        text-align: center;
    }
}
/* FIN FOOTER */ 

/* BOTONES */
.boton{
    color: rgb(255, 255, 255);
    background-color: rgb(55, 55, 55);
    padding: 10px 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 30px;
}

.boton:hover{
    background-color: rgb(117, 172, 236);

}