/* VARIABLES GENERALES */
/* Fuentes */
/* Colores */
/* Background Colors */
/* Titulos Colors */
/* Botones Colors */
/* FIN VARIABLES GENERALES */
/* Reseteo CSS */
* {
  font-family: "Baloo 2", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: #005500;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  text-shadow: 1px 1px 2px white, 0 0 25px turquoise, 0 0 5px darkblue;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

h3,
h4 {
  color: #000000;
  padding: 10px;
  text-shadow: 1px 1px 2px white, 0 0 25px turquoise, 0 0 5px darkblue;
  font-family: "Kaushan Script", cursive;
}

/* Importacion de archivos */
/* HEADER */
.header {
  background: linear-gradient(90deg, rgba(248, 180, 8, 0.6901960784) 0%, rgba(248, 180, 8, 0.6901960784) 30%, #40e0d0 100%);
}
.header .container-fluid {
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .container-fluid h1 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px turquoise, 0 0 5px darkblue;
  font-family: "Kaushan Script", cursive;
  margin: 0;
}
.header .container-fluid img {
  height: 88px;
}

/* FIN HEADER */
/* NAVBAR */
.bgnav {
  background-color: #434343;
  padding: 0;
  padding-left: 16px;
}
.bgnav .nav-link {
  color: #ffffff !important;
}
.bgnav .nav-link:hover {
  background-color: #75acec;
}

/* FIN NAVBAR */
/* MIXING - Estilos de listas */
/* FIN MIXING */
/* INICIO JumboTrons */
.jumbotron h2 {
  font-size: 50px;
}

.jumboIndex, .jumboGaleria,
.jumboQuartos,
.jumboPraias {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.jumboIndex p, .jumboGaleria p,
.jumboQuartos p,
.jumboPraias p {
  color: #ffffff;
}
.jumboIndex .boton, .jumboIndex .botonReserva, .jumboGaleria .boton, .jumboGaleria .botonReserva,
.jumboQuartos .boton,
.jumboQuartos .botonReserva,
.jumboPraias .boton,
.jumboPraias .botonReserva {
  margin-left: 0px;
}

#titleBemvinda {
  font-size: 25px;
  font-weight: bold;
}

#textBemvinda {
  font-size: 18px;
}

.jumboGaleria,
.jumboQuartos,
.jumboPraias {
  margin: 0;
  padding: 100px;
}

/* FIN JumboTrons */
/* EACH para imagenes de Jumbotron */
.jumboIndex, .jumboGaleria,
.jumboQuartos,
.jumboPraias {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/jumbotron/Index.jpg");
}

.jumboQuartos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/jumbotron/Quartos.jpg");
}

.jumboGaleria {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/jumbotron/Galeria.jpg");
}

.jumboPraias {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/jumbotron/Praias.jpg");
}

/* Fin EACH */
/* MAIN */
.principal {
  background-image: url("../images/praias/fondo.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
}
.principal .articulo1 {
  background-image: url(../images/portadakukis.webp);
  background-size: cover;
  background-position: center;
  height: 550px;
}
.principal .articulo2 h3 {
  margin-top: 20px;
  text-align: center;
}
.principal .articulo2 p {
  padding: 5px;
}
.principal .articulo3 {
  margin-top: 30px;
  text-align: center;
}
.principal .articulo3 video {
  width: 95%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}
.principal .articulo4 {
  margin-top: 50px;
}

/* FIN MAIN */
/* MAIN QUARTOS/SERVICIOS */
.quartos {
  margin-top: 40px;
}
.quartos .carta {
  margin-top: 30px;
}
.quartos .carta .card-img-top {
  border-radius: 30px;
  opacity: 0.9;
}
.quartos .carta ul {
  list-style-type: none;
  font-style: italic !important;
  text-align: left;
  list-style-image: none;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

/* Inicio Mapa de Quartos */
/* Bucle para usar los valores del mapa */
.quartos .carta .card-img-quarto1 {
  content: url("../images/quartos/manga.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

.quartos .carta .card-img-quarto2 {
  content: url("../images/quartos/abacaxi.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

.quartos .carta .card-img-quarto3 {
  content: url("../images/quartos/caju.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

.quartos .carta .card-img-quarto4 {
  content: url("../images/quartos/acai.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

.quartos .carta .card-img-quarto5 {
  content: url("../images/quartos/coco.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

.quartos .carta .card-img-quarto6 {
  content: url("../images/quartos/mamao.webp");
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

/* Fin Mapa de Quartos */
.servicios ul {
  list-style-type: none;
  font-style: normal !important;
  text-align: left;
  list-style-image: url("../images/icons8-ok-16.png");
  padding-left: 40px;
  padding-bottom: 40px;
}

/* FIN QUARTOS/SERVICIOS */
/* GALERIA */
.carousel {
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.carousel .carousel-item {
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-item img {
  width: 100%;
  height: 300%;
  border-radius: 30px;
}

/* FIN GALERIA */
/* PLAYAS Y ACTIVIDADES */
.playas {
  margin-top: 40px;
}
.playas .card {
  margin-bottom: 10px;
  border-radius: 15px;
}
.playas .card .card-img-top {
  border-radius: 0;
  opacity: 0.9;
}

/* Inicio Mapa de Playas */
/* Bucle para usar los valores del mapa */
.playas .card .card-img-playa1 {
  content: url("../images/praias/minas.webp");
}

.playas .card .card-img-playa2 {
  content: url("../images/praias/amor.webp");
}

.playas .card .card-img-playa3 {
  content: url("../images/praias/centro.webp");
}

.playas .card .card-img-playa4 {
  content: url("../images/praias/madeiro.webp");
}

/* Fin Mapa de Playas */
.actividades {
  text-align: center;
}
.actividades iframe {
  width: 90%;
  height: 500px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: inset 1px 2px black, 0 0 25px rgb(90, 92, 91), 0 0 5px rgb(218, 218, 218);
}

/* LOCALIZACION */
.mapa {
  height: auto;
  text-align: center;
}
.mapa iframe {
  width: 95%;
  height: 400px;
  margin-bottom: 20px;
}

/* Animacion de texto "Como llegar" - Tipo cartel titilante*/
.llegar .comoLlegar {
  -webkit-animation-name: titilar;
          animation-name: titilar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.llegar ul {
  list-style-type: none;
  font-style: normal !important;
  text-align: left;
  list-style-image: url("../images/icons8-where-48.png");
  padding-left: 70px;
  padding-bottom: 40px;
}
.llegar ul a {
  text-decoration: none;
  color: rgb(55, 55, 55);
  font-weight: bold;
  text-shadow: 1px 1px 2px white, 0 0 25px turquoise, 0 0 5px darkblue;
}
.llegar ul a:hover {
  color: #005500;
  text-shadow: 1px 1px 2px white, 0 0 25px turquoise, 0 0 5px darkblue;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 1s;
}
.llegar .card {
  margin-right: 30px;
  color: white;
  font-style: italic;
  background-color: #434343;
}

/* FIN LOCALIZACION */
/* CONTACTO */
.contacto .mail p {
  padding-left: 10px;
}
.contacto form {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

/* FIN CONTACTO */
/* FOOTER */
.footer {
  background: linear-gradient(90deg, #434343 0%, #434343 30%, #00ced1 100%);
  color: white;
  font-size: 14px;
  padding: 5px;
}
.footer .ubicacion {
  display: flex;
  align-items: center;
}
.footer .ubicacion p {
  margin-left: 10px;
  margin-top: 2.5px;
  margin-bottom: 0;
}
.footer .redes {
  text-align: center;
}
.footer .redes i {
  letter-spacing: 10px;
  font-size: 20px;
}
.footer .redes a {
  text-decoration: none;
  color: #ffffff;
}
.footer p {
  text-align: center;
}

/* FIN FOOTER */
/* BOTONES */
.boton, .botonReserva {
  color: rgb(255, 255, 255);
  background-color: #373737;
  padding: 10px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(55, 55, 55);
  border-radius: 30px;
}
.boton:hover, .botonReserva:hover {
  background-color: #75acec;
}

/* Uso de EXTEND - Extiende las caracteristicas de los botones */
.botonReserva {
  -webkit-animation-name: titilar;
          animation-name: titilar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  box-shadow: 1px 1px 2px black, 0 0 25px turquoise, 0 0 5px darkturquoise;
}

/* FIN BOTONES */
/* Animaciones Titilar */
@-webkit-keyframes titilar {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titilar {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*WhatsApp*/
img.btn-whatsapp {
  display: block !important;
  position: fixed;
  z-index: 9999999;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 100px !important;
}
img.btn-whatsapp:hover {
  border-radius: 100px !important;
  box-shadow: 0px 0px 15px 0px rgb(7, 94, 84);
  transition-duration: 1s;
}/*# sourceMappingURL=styles.css.map */